@model PagedList<NorthwindMVC.Core.Models.Employee>
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">@Translate["EmployeeTable"]</h3>
              </div>
              <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-6 d-flex align-items-center">
                        <a asp-controller="Employee" asp-action="AddEmployee" class="btn btn-secondary btn-sm w-auto">@Translate["AddEmployee"]</a>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-end align-items-center">
                        <label class="d-flex align-items-center mb-0">
                            <span class="mr-2">@Translate["Search"]:</span>
                            <input class="form-control form-control-sm w-auto" type="search" />
                        </label>
                    </div>
                </div>
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>@Translate["FirstName"]</th>
                    <th>@Translate["LastName"]</th>
                    <th>@Translate["Dateofbirth"]</th>
                    <th>@Translate["Title"]</th>
                    <th>@Translate["HomePhone"]</th>
                  </tr>
                  </thead>
                  <tbody>
                  @foreach (var employee in Model.Items)
                  {
                    <tr>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        <td>@employee.DateOfBirth</td>
                        <td>@employee.Title</td>
                        <td>@employee.HomePhone</td>
                    </tr>
                  }                                
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>@Translate["FirstName"]</th>
                    <th>@Translate["LastName"]</th>
                    <th>@Translate["Dateofbirth"]</th>
                    <th>@Translate["Title"]</th>
                    <th>@Translate["HomePhone"]</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              @Html.DisplayFor(e => e.Pager)
            </div>
          </div>
        </div>
      </div>
</section>
