@model NorthwindMVC.Core.Models.Product;


<div class="modal-header">
    <h4 class="modal-title">@Translate["Warning"]!</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h4 class="modal-title">@Translate["DeleteQuestionProduct"]</h4>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal">@Translate["CloseWindow"]</button>
    <button type="submit" id="confirmDeleteButton" class="btn btn-danger" data-id="@Model.Id">@Translate["Yes"]</button>
</div>

<script>
    $(document).on('click', '#confirmDeleteButton', function () {
        var productId = $(this).data('id');

        $.ajax({
            type: "POST",
            url: '/Product/Delete',
            data: { id: productId },
            success: function (response) {
                if (response.success) {
                    location.reload();
                } else {
                    alert("Error deleting shipper.");
                }
            },
            error: function () {
                alert("Error while deleting.");
            }
        });

        $('#generalModal').modal('hide');
    });
</script>    