@model PagedList<NorthwindMVC.Core.Models.Shipper>

<div class="card col-md-12">
    <div class="card-header">
        <h5 class="card-title">@Translate["Shippers"]</h5>
        <div class="card-tools d-flex justify-content-end align-items-center">
            <div>
            <form asp-action="Search" asp-controller="Shipper" method="get" class="d-flex m-0 p-0">
                <div class="input-group" style="width: 250px;">
                    <input class="form-control" type="text" name="searchTerm" placeholder="@Translate["Search"]" aria-label="Search Shippers" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary" aria-label="Search">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            </div>
            <button data-toggle="modal" data-target="#generalModal" data-action="add" class="btn btn-secondary ml-2" aria-label="Add Shipper">
                @Translate["AddShipper"]
                <i class="fas fa-plus"></i>
                <i class="fas fa-shipping-fast"></i>
            </button>
        </div>
    </div>
    @await Html.PartialAsync("DisplayTemplates/_generalModal")
    @await Html.PartialAsync("DisplayTemplates/_generalModalLG")
    @await Html.PartialAsync("DisplayTemplates/_ContextMenu")
    <div class="card-body p-0">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width: 1%">
                        #
                    </th>
                    <th>
                        @Translate["ShipperName"]
                    </th>
                    <th>
                        @Translate["ShipperContact"]
                    </th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var shipper in Model.Items)
                {
                    <tr class="context-menu-row"
                        data-id="@shipper.Id"
                        data-controller="Shipper">
                        <td>
                            #
                        </td>                        
                        <td>
                            <a>
                                @shipper.CompanyName
                            </a>                            
                        </td>
                        <td>
                            @shipper.Phone
                        </td>                        
                    </tr>
                }                
            </tbody>
            <tfoot>
                <tr>
                    <th style="width: 1%">
                        #
                    </th>
                    <th>
                        @Translate["ShipperName"]
                    </th>
                    <th>
                        @Translate["ShipperContact"]
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="card-footer">
        <div class="form-group">
            @Html.DisplayFor(e=>e.Pager)
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#generalModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var action = button.data('action');
            var shipperId = button.data('id');
            var modal = $(this);

            if (action === 'edit') {
                $.ajax({
                    url: '/Shipper/Edit',
                    type: 'GET',
                    data: { id: shipperId },
                    success: function (response) {
                        modal.find('.modal-content').html(response);
                        modal.modal('show');
                    },
                    error: function () {
                        console.error('Faild to load modal content');
                    }
                });
            } else if (action === 'delete') {
                $.ajax({
                    url: '/Shipper/DeleteView',
                    type: 'GET',
                    data: { id: shipperId },
                    success: function (response) {
                        modal.find('.modal-content').html(response);
                        modal.modal('show');
                    },
                    error: function () {
                        console.error('Failed to load modal content');
                    }
                });
            } else if (action === 'add') {
                $.ajax({
                    url:'/Shipper/AddView',
                    type: 'GET',
                    success: function (response) {
                        modal.find('.modal-content').html(response);
                        modal.modal('show');
                    },
                    error: function () {
                        console.error('Failed to load content');
                    }
                })
            }
        });
    });

</script>





